:root {
  --main-color: #191F3A;
  --sub-color: #FFBE00;
  --text-color: #ffffff;
  --bg-color: #0C1023;
}
.chedo {
  background-color: var(--sub-color);
}
.chedo1 {
  background-color: MidnightBlue;
  border: none;
  border-radius: 52px;
/*  box-shadow: 0 9px #999*/
  color: gold;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 90px ;
/*  margin-right: 50px;*/
margin-left: 250px;
  cursor: pointer;

}

.mode{
  position: relative;
  top: 15px;
  text-align: center;
  color: MidnightBlue;
}
.den{
  margin-top: 5%;
  margin-left: 5%;
}
